<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CxLos14-Blog-Site</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/output.css">
</head>

<body class="bg-pink-100">
  
  <div>
    <header class="bg-sky-300 border-b-2 border-black text-center text-4xl p-5">
      <h1>
        <span role="img" aria-label="book-emoji">📖</span> 
        <a class="hover:text-slate-600" href="/">CxLos14 Blog Site</a>
      </h1>
      
      <nav class="text-center text-base">
        {{#if logged_in}}
        <a class="hover:text-slate-500" href="/profile">Profile</a> |
                <a class="hover:text-slate-500" id="" href="/newblog">New Blog</a> |
        <a class="hover:text-slate-500" id="logout" href="">Logout</a> 
        {{else}}
        <p></p>
        {{/if}}
      </nav>
    </header>
  </div>

   
  <main class="">
    {{{ body }}}
  </main>

  <footer>
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>
