
<div class="text-center text-3xl p-6">
    <h2>Create New Blog, {{name}}!</h2>
</div>

<section class="flex">

    <div class="border-4 rounded-lg border-indigo-400 bg-red-400 p-5 mt-12 text-xl">
        <div>
            <h2 class="text-center text-3xl pb-6">Create New Character!</h2>
        </div>

        <div>
            <form id="character-create-form">
                <div>
                    <label for="height">Blog Title:</label>
                    <input type="text" class="insert2 p-1" id="char-name" placeholder="Cool name">
                </div>

                <div>
                    <label>What are your thoughts?:</label>
                    <input type="input" class="insert2 p-1" id="char-age" placeholder="Age">
                </div>
                <div class="flex">
                    <button class="lbtn bg-green-300" id="" type="submit" for="submit">Post!</button>
                </div>
            </form>
        </div>
</div>
</section>

<script src="./js/blog.js"></script>
