{{!-- <div>
    <h2>Hooray a route!</h2>
</div> --}}



  <div class="" id="navigation">
     <nav class="text-center">
      {{!-- <div class="text-2xl">
        <a class="log-in-btn bg-yellow-100 border-orange-600" href="/" id="hbtn">Home</a>
      </div> --}}
        {{#if logged_in}}
        <div>
          <button class="btn" id="logout">logout</button>
        </div>
        {{else}}
        <a class="log-in-btn bg-pink-300 border-blue-400 hover:bg-pink-200" href="/login">Login</a>
        {{/if}}
    </nav>
  </div>