
<div class="text-center text-3xl p-6">
    <h2>Update Blog, {{name}}</h2>
</div>

<section class="flex">

    <div class="border-4 rounded-lg border-indigo-300 bg-pink-300 p-5 mt-12 text-xl">
        <div>
            <h2 class="text-center text-3xl pb-6">Update Blog Post!</h2>
        </div>

        <div class="blog-up">
            <form id="new-blog-form">
                <div class="p-4">
                    <label for="height">Blog Title:</label>
                    <input type="text" class="insert2 p-1 rounded-md w-96" id="blog-title" placeholder="{{title}}">
                </div>

                <div class="p-4">
                    <label class="pb-4">What are your thoughts?</label>
                    <br class="p-4">
                    <input type="input" class="insert3 tex-center p-1 rounded-md  h-96" id="blog-body" placeholder="{{body}}">
                </div>
                <div class="text-center text-sm">
                    <button class="border-black border-2 rounded-md p-1 px-2 bg-sky-300 hover:bg-sky-200 transform" id="" type="submit" for="submit" data-id="{{blog.id}}">Update!</button>
                </div>
            </form>
        </div>
</div>
<script src="/js/upBlog.js"></script>
{{!-- <script src="./js/delBlog.js"></script> --}}
</section>


